* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}

/* DEBUG */

.debug .container {
    padding: 10px;
    border: 1px solid green;
}

.debug .row {
    padding: 10px;
    border: 1px solid red;
}

.debug .col-4 {
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
}

.debug .product-description {
    border: 1px solid yellow;
}

.debug .page-header {
    padding: 10px;
    border: 1px solid orange;
}

.debug .col-3 .col-6 {
    padding: 10px;
    border: 1px solid black;
}

/* Header */

.page-header {
    width: 100%;
    min-height: 45px;
    background-color: #ff6900;
    margin-bottom: 20px;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 8px;
}

.row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    list-style: none;
}

.nav-bar > li {
    display: inline-block;
    color: white;
    font-weight: bolder;
    font-size: 12px;
}

.logo {
    width: 100px;
    min-height: 20px;
}

.profile .favorites .cart {
    font-size: 20px;
    color: white;
}

.icon {
    margin-right: 10px;
}




/* Main */

.container {
    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 350px;
    padding: 10px 10px 20px;
}

.col-4:nth-child(3n) {
    margin: 0;
}

.description {
    display: block;
}

.brand-name {
    display: block;
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 2px;
}

.size-product {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: -2px;
}

.prize-product-red {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

.prize-product-black {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: black;
    text-decoration: line-through;
}

.img-card {
    position: relative;
}

.heart {
    width: 33px;
    min-height: 30px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 0;
}

.img-man {
    position: relative;
}

.discount .sustainability {
    display: inline-block;
}

.sustainability {
    background-color: #008000;
    padding: 3px 7px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    position: absolute;
    position: absolute;
    bottom: 85px;
    left: 50px;
    
}

.discount {
    background-color: #ff0000;
    padding: 3px 7px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 85px;
    left: 0;
}

/* Footer */

.page-footer {
    width: 100%;
    min-height: 100px;
    background-color: black;
}

.footer-container {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 8px;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-6-footer{
    flex-basis: calc((100% / 6) * 2);
    color: white;
    margin-top: 10px;
    margin-left: 120px;
}

.politicaly {
    padding-top: 6px;
}



.logo-social {
    width: 20px;
    min-height: 20px;
}

.page-footer-2 {
    flex-basis: calc((100% / 6) * 2);
    margin-top: 10px;
    margin-left: 100px;
}







