* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}

/* DEBUG */

.debug .container {
    padding: 10px;
    border: 1px solid green;
}

.debug .row {
    padding: 10px;
    border: 1px solid red;
}

.debug .col-4 {
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
}

.debug .product-description {
    border: 1px solid yellow;
}



/* Main */

.container {
    max-width: 1000px;
    min-height: 400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 350px;
}

.description {
    display: block;
}

.brand-name {
    display: block;
    font-size: 12px;
    opacity: 0.6;
}

.size-product {
    display: block;
    font-size: 13px;
    font-weight: 700;
}

.prize-product-red {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

.prize-product-black {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: black;
    text-decoration: line-through;
}

.img-card {
    position: relative;
}

.heart {
    width: 33px;
    min-height: 30px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 0;
}

.img-man {
    position: relative;
}

.discount .sustainability {
    display: inline-block;
}

.sustainability {
    background-color: #008000;
    padding: 3px 9px;
    color: white;
    font-weight: bolder;
    position: absolute;
    position: absolute;
    bottom: 85px;
    left: 60px;
    
}

.discount {
    background-color: #ff0000;
    padding: 3px 9px;
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 85px;
    left: 0;
}